<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/nav') %> 
    <div class="container mt-3 text-center">
      <div class="row align-items-center justify-content-center">
            <% blogs.forEach(blog => { %>
              <div class="col mt-2">
                <div class="card border" style="width: 18rem;">
                  <img src="<%= blog.coverImageURL %>" class="card-img-top w-100 mh-50" alt="cover-image">
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
                  </div>
                </div>
              </div>
              <% }) %>
       

    </div>
  </div>
    <%- include('./partials/scripts') %>
  </body>
</html>
